/*contact page start*/
@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/MyriadPro-Regular/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MyriadPro-Regular/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg'),
         url('../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf') format('truetype'),
         url('../fonts/MyriadPro-Regular/MyriadPro-Regular.woff') format('woff'),
         url('../fonts/MyriadPro-Regular/MyriadPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Ubuntu-Bold';
    src: url('../fonts/Ubuntu-Bold/Ubuntu-Bold.eot');
    src: url('../fonts/Ubuntu-Bold/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Ubuntu-Bold/Ubuntu-Bold.svg#Ubuntu-Bold') format('svg'),
         url('../fonts/Ubuntu-Bold/Ubuntu-Bold.ttf') format('truetype'),
         url('../fonts/Ubuntu-Bold/Ubuntu-Bold.woff') format('woff'),
         url('../fonts/Ubuntu-Bold/Ubuntu-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('../fonts/SourceSansProRegular/SourceSansPro-Regular.eot');
    src: url('../fonts/SourceSansProRegular/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansProRegular/SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg'),
         url('../fonts/SourceSansProRegular/SourceSansPro-Regular.ttf') format('truetype'),
         url('../fonts/SourceSansProRegular/SourceSansPro-Regular.woff') format('woff'),
         url('../fonts/SourceSansProRegular/SourceSansPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  
.contact-title .wp-block-column h2
{
    font-size: 45px;
    font-family: 'Ubuntu-Bold';
    margin-top: 55px;
}

.contact-title .wp-block-column h2.contact-left-title
{
    margin-left: 0;
}

.contact-title .wp-block-column h2.contact-right-title
{
    margin-left: 0;
}
.contact-title .contact-field 
{
    width: 345px;
    padding-top: 21px;
    font-family: 'SourceSansPro-Regular';
    font-size: 16px;
    margin-left: 0;
}
.contact-title .contact-field span
{
    position: relative;
    padding: 20px;
}
.contact-field span.phone 
{
    left: 18px;
}

.contact-field span.phone::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(../images/sprite-image.png);
    background-position: -5px -7px;
    z-index: 99;
    left: -7px;
    top: 22px;
}
.contact-field span.email 
{
    left: 46px;
}
.contact-field span.email::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(../images/sprite-image.png);
    background-position: -45px -7px;
    z-index: 99;
    left: -7px;
    top: 17px;
}
.contact-field span.address::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(../images/sprite-image.png);
    background-position: -21px -7px;
    z-index: 99;
    left: -332px;
    top: 40px;
}
.contact-field span.address
{
    top: 18px;
    left:38px;
}
.has-text-align-center
{
    font-size: 30px;
    font-family: 'Ubuntu-Bold';
    margin-top: 65px;

}
.contact_form 
{
    margin-top: 22px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}    

.cf_fname
{
    display: flex;
}
.cf_fname span
{
    width: 48%;
}
.cf_fname span:first-child
{
    margin-right: 40.5px;
}


.contact_form input[type="text"],
.contact_form input[type="email"],
.contact_form textarea
 {
  width: 100%;
  border: none;
  background: #CCCCCC;
  margin: 0 0 5px;
  padding: 10px;
}

.contact_form input[type="text"],
.contact_form input[type="email"],
.contact_form textarea,
.contact_form button[type="submit"]
{
    font-family: 'MyriadPro-Regular';
    font-size: 12px;
}
.contact_form input:focus,
.contact_form textarea:focus {
  outline: 0;
}
.contact_form input[type="submit"]
{
    height: 72px;
    width: 221px;
    color: transparent;
    background: url(../images/dotgood-submit-button.png);
    background-size: cover;
    border: none;
}
.contact_form .cf_email ,.contact_form .cf_message
{
    margin-top: 20px;
}
.contact_form textarea 
{
    height: 100px;
}
.contact_form .cf_submit 
{
    margin-top: 55px;
    margin-bottom: 80px;

}
/*contact page end*/

/*blog page start*/
.widget-right-title .screen-reader-text{
  font-size: 0px;
}
.widget-right-title .search-form{
    /*background-color: black;*/
    display: flex;
    align-items: center;
    width: auto;
    display: inline-block;
}
.widget-right-title .search-submit{
   background-color: transparent;
    border: none;
    font-size: 0px;
    width: 40px;
    height: 40px;
    padding: 0px;
  }
.widget-right-title input[type="search"]
  {
    background: #000000;
    border: none;
    display: flex;
    align-items: center; 
    padding: 10px;
  }
/*blog page end*/

/* About page start  */

.entry-content .about-text
{
    text-align: center;
    margin-top: 58px;
    font-family: 'SourceSansPro-Regular';
    
}
.wp-block-columns.section-image 
{
    margin-top: 60px;
    position: relative;
}

.section-image img
{
    height: auto;
}

.section-image p.about-image-text 
{
    padding: 34px;
    font-size: 16px;
    font-family: 'SourceSansProRegular';
}

.section-left-image::before 
{
    position: absolute;
    left: 0;
    top: 0;
    background: #FE8023;
    opacity: 70%;
    content: "";
    width: 100%;
    height: 50.8%;
}
.section-left-image-one::before {
    position: absolute;
    left: 0;
    top: 0;
    background: rgb(137,55,64);
    opacity: 70%;
    content: "";
    width: 100%;
    height: 48.8%;
}
.section-right-image-one::before {
    position: absolute;
    left: 0;
    top: 0;
    background: rgb(88, 58, 117);
    opacity: 70%;
    content: "";
    width: 100%;
    height: 48.8%;
}
.wp-block-column.section-left-image,.section-left-image-one,.section-right-image,.section-right-image-one
{
    position: relative;
}
 .outer_box 
 {
    position: absolute;
    top: 76px;
    color: white;
    width: 100%;
    padding-left: 129px;
}
.section-left-image-one .outer_box 
 {
    position: absolute;
    top: 76px;
    color: white;
    width: 100%;
    padding-left: 129px;
}

.outer_box h2.about-four-title 
{
    position: relative;
}
 h2.about-four-title strong 
{
    font-size: 45px;
    font-family: 'Ubuntu-Bold';
}
h2.about-four-title::before
{
    content: "";
    position: absolute;
    width: 26px;
    left: -84px;
    height: 100%;
    background: #fff;
    height: 204px;
    top: -45px;
}     

h2.about-four-title:after 
{
    content: "";
    position: absolute;
    left: 0;
    width: 45px;
    left: -59px;
    height: 25px;
    background: #fff;
    top: -45px;
}
.section-left-image .outer_box::after
{
    content: "";
    position: absolute;
    left: 0;
    width: 45px;
    left: 70px;
    height: 25px;
    background: white;
    top: 134px;
}
.section-left-image-one .outer_box::after
{
    content: "";
    position: absolute;
    left: 0;
    width: 45px;
    left: 70px;
    height: 25px;
    background:white;
    top: 134px;
}
.section-right-image .outer_box::after
{
    content: "";
    position: absolute;
    left: 0;
    width: 45px;
    left: 108px;
    height: 25px;
    background: white;
    top: 134px;
}
.section-right-image-one .outer_box::after
{
    content: "";
    position: absolute;
    left: 0;
    width: 45px;
    left: 71px;
    height: 25px;
    background: white;
    top: 134px;
}
.section-right-image::before 
{
    position: absolute;
    left: 0;
    top: 0;
    background:rgb(70, 128, 128);
    opacity: 70%;
    content: "";
    width: 100%;
    height: 50.5%;
}
.section-right-image .outer_box 
{
    position: absolute;
    top: 76px;
    color: white;
    width: 100%;
    padding-left: 167px;
}
.wp-block-column.section-left-image,.section-left-image-one,.section-right-image-one 
{
    background: #F3F3F3;
}
.wp-block-column.section-right-image 
{
    background: #F3F3F3;
}
/* About page end  */
.detail-wrap .entry-content .work-together-image {