@font-face {
  font-family: 'Ubuntu-M';
  src: url('Ubuntu-M.eot');
  src: url('Ubuntu-M.eot?#iefix') format('embedded-opentype'),
       url('Ubuntu-M.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url('Ubuntu-Medium.svg#Ubuntu-Medium') format('svg'),
       url('Ubuntu-Medium.ttf') format('truetype'),
       url('Ubuntu-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

