/*
Theme Name: dotgood 
Theme URI: 
Author: 
Author URI: 
Description: 
Version: 11.0.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: dotgood
Tags: 
*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/

/* @font-face {
	font-family: 'Kollektif-Regular';
	src: url('assets/fonts/Kollektif.eot');
	src: local('☺'), url('assets/fonts/Kollektif.woff') format('woff'), 
	url('assets/fonts/Kollektif.ttf') format('truetype'), 
	url('assets/fonts/Kollektif.svg') format('svg');
	font-weight: normal;
	font-style: normal;
} */

body{font-size: 16px;/* font-family: 'Kollektif-Regular'; */color: #000;overflow-x: hidden;}
/*.wp-block-columns{   flex-wrap: wrap !important;  }*/

*{line-height: normal;}
h1, h2, h3, h4, h5, h6, p, a{line-height: normal;}
p {margin-bottom: 15px;}
a{outline: none;color: #003883;}
a:hover, a:focus{color: #1d9f9e;outline: none;}
button,
button:focus{outline: none;}
br{line-height: 0;}

/*<============== css start ==============>*/

/* @media(max-width: 480px){} */

/* ...............fonts..............  */

@font-face {
	font-family: 'Ubuntu-Bold';
	src: url('assets/fonts/Ubuntu-Bold/Ubuntu-Bold.eot');
	src: local('☺'), url('assets/fonts/Ubuntu-Bold/Ubuntu-Bold.woff') format('woff'), 
	url('assets/fonts/Ubuntu-Bold/Ubuntu-Bold.ttf') format('truetype'), 
	url('assets/fonts/Ubuntu-Bold/Ubuntu-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Ubuntu-Light';
	src: url('assets/fonts/Ubuntu-Light/Ubuntu-Light.eot');
	src: local('☺'), url('assets/fonts/Ubuntu-Light/Ubuntu-Light.woff') format('woff'), 
	url('assets/fonts/Ubuntu-Light/Ubuntu-Light.ttf') format('truetype'), 
	url('assets/fonts/Ubuntu-Light/Ubuntu-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
} 
@font-face {
  font-family: 'Ubuntu-Medium';
  src: url('assets/fonts/Ubuntu-Medium/Ubuntu-M.eot');
  src: url('assets/fonts/Ubuntu-Medium/Ubuntu-Medium.svg') format('svg'),
       url('assets/fonts/Ubuntu-Medium/Ubuntu-Medium.ttf') format('truetype'),
       url('assets/fonts/Ubuntu-Medium/Ubuntu-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
	font-family: 'Montserrat-Bold';
	src: url('assets/fonts/Montserrat-Bold/Montserrat-Bold.eot');
	src: local('☺'), url('assets/fonts/Montserrat-Bold/Montserrat-Bold.woff') format('woff'), 
	url('assets/fonts/Montserrat-Bold/Montserrat-Bold.ttf') format('truetype'), 
	url('assets/fonts/Montserrat-Bold/Montserrat-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat-Light';
	src: url('assets/fonts/Montserrat-Light/Montserrat-Light.eot');
	src: local('☺'), url('assets/fonts/Montserrat-Light/Montserrat-Light.woff') format('woff'), 
	url('assets/fonts/Montserrat-Light/Montserrat-Light.ttf') format('truetype'), 
	url('assets/fonts/Montserrat-Light/Montserrat-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat-Medium';
	src: url('assets/fonts/Montserrat-Medium/Montserrat-Medium.eot');
	src: local('☺'), url('assets/fonts/Montserrat-Medium/Montserrat-Medium.woff') format('woff'), 
	url('assets/fonts/Montserrat-Medium/Montserrat-Medium.ttf') format('truetype'), 
	url('assets/fonts/Montserrat-Medium/Montserrat-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat-Regular';
	src: url('assets/fonts/Montserrat-Regular/Montserrat-Regular.eot');
	src: local('☺'), url('assets/fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff'), 
	url('assets/fonts/Montserrat-Regular/Montserrat-Regular.ttf') format('truetype'), 
	url('assets/fonts/Montserrat-Regular/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-Black';
	src: url('assets/fonts/Roboto-Black/Roboto-Black.eot');
	src: local('☺'), url('assets/fonts/Roboto-Black/Roboto-Black.woff') format('woff'), 
	url('assets/fonts/Roboto-Black/Roboto-Black.ttf') format('truetype'), 
	url('assets/fonts/Roboto-Black/Roboto-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-Bold';
	src: url('assets/fonts/Roboto-Bold/Roboto-Bold.eot');
	src: local('☺'), url('assets/fonts/Roboto-Bold/Roboto-Bold.woff') format('woff'), 
	url('assets/fonts/Roboto-Bold/Roboto-Bold.ttf') format('truetype'), 
	url('assets/fonts/Roboto-Bold/Roboto-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-Light';
	src: url('assets/fonts/Roboto-Light/Roboto-Light.eot');
	src: local('☺'), url('assets/fonts/Roboto-Light/Roboto-Light.woff') format('woff'), 
	url('assets/fonts/Roboto-Light/Roboto-Light.ttf') format('truetype'), 
	url('assets/fonts/Roboto-Light/Roboto-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-Regular';
	src: url('assets/fonts/Roboto-Regular/Roboto-Regular.eot');
	src: local('☺'), url('assets/fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'), 
	url('assets/fonts/Roboto-Regular/Roboto-Regular.ttf') format('truetype'), 
	url('assets/fonts/Roboto-Regular/Roboto-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SourceSansProRegular';
	src: url('assets/fonts/SourceSansProRegular/SourceSansPro-Regular.eot');
	src: local('☺'), url('assets/fonts/SourceSansProRegular/SourceSansPro-Regular.woff') format('woff'), 
	url('assets/fonts/SourceSansProRegular/SourceSansPro-Regular.ttf') format('truetype'), 
	url('assets/fonts/SourceSansProRegular/SourceSansPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
} 
@font-face {
	font-family: 'SourceSansPro-Bold';
	src: url('assets/fonts/SourceSansPro-Bold/SourceSansPro-Bold.eot');
	src: local('☺'), url('assets/fonts/SourceSansPro-Bold/SourceSansPro-Bold.woff') format('woff'), 
	url('assets/fonts/SourceSansPro-Bold/SourceSansPro-Bold.ttf') format('truetype'), 
	url('assets/fonts/SourceSansPro-Bold/SourceSansPro-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SourceSansPro-BoldIt';
	src: url('assets/fonts/SourceSansPro-Italic/SourceSansPro-Italic.eot');
	src: local('☺'), url('assets/fonts/SourceSansPro-Italic/SourceSansPro-It.woff') format('woff'), 
	url('assets/fonts/SourceSansPro-Italic/SourceSansPro-It.ttf') format('truetype'), 
	url('assets/fonts/SourceSansPro-Italic/SourceSansPro-It.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SourceSansPro-Italic';
	src: url('assets/fonts/SourceSansPro-Italic/SourceSansPro-Italic.eot');
	src: local('☺'), url('assets/fonts/SourceSansPro-Italic/SourceSansPro-It.woff') format('woff'), 
	url('assets/fonts/SourceSansPro-Italic/SourceSansPro-It.ttf') format('truetype'), 
	url('assets/fonts/SourceSansPro-Italic/SourceSansPro-It.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SourceSansPro-Semibold';
	src: url('assets/fonts/SourceSansPro-Semibold/SourceSansPro-Semibold.eot');
	src: local('☺'), url('assets/fonts/SourceSansPro-Semibold/SourceSansPro-Semibold.woff') format('woff'), 
	url('assets/fonts/SourceSansPro-Semibold/SourceSansPro-Semibold.ttf') format('truetype'), 
	url('assets/fonts/SourceSansPro-Semibold/SourceSansPro-Semibold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* .....................font ends................................  */

/*single_post_next_previous*/
.previous_post_btn a,
.next_post_btn a{
   font-size:0px;
}
/*single_post_next_previous_end*/

/*header*/
.top_header .header_search_box .screen-reader-text{
    display:none;
}
.top_header .header_search_box .search-form{
	display:flex;
	align-items:center;
}
.top_header .header_search_box .search-submit {
	width: 25px;
	height: 25px;
	font-size: 0px;
	background-color: transparent;
	border: none;
	background-image: url('assets/images/sprite-image.png');
	background-position: -474px -1px;
	padding: 0px;
	cursor:pointer;
	/*display:none;*/
}
/*.top_header .header_search_box .dafult_search_btn{
    width: 25px;
	height: 25px;
	font-size: 0px;
	background-color: transparent;
	border: none;
	background-image: url('assets/images/sprite-image.png');
	background-position: -474px -1px;
	padding: 0px;
	cursor:pointer;	
	display:inline-block;
}*/
.top_header .header_search_box label{
	margin-bottom:0px;
	margin-bottom: 0px;
	position: absolute;
	top: 30px;
	right: 0px;
	/*display:none;*/
}
.top_header .header_search_box label input {
	border: none;
	background-color: white;
	font-family: 'SourceSansProRegular';
	font-size: 16px;
	padding: 8px 15px;
	border-radius: 50px;
}
.top_header .header_search_box{
	position:relative;
}
.single.single-post .top_header{ 
	position: relative; background: #000; 
	padding-top: 27px;
	padding-bottom: 36px;
}
.alignwide{
          width:  100vw;
          max-width:  100vw;
          margin-left:  calc(50% - 50vw);
     }
/*header_end*/



#header .header-menu .navbar .navbar-brand img{
	height: auto;
	width: 163px;
}
#header .header-menu .navbar .navbar-nav .menu-item{
	position: relative;
}

#header .header-menu .navbar .navbar-nav .menu-item .sub-menu .menu-item{
	display: none;
	font-size: 18px;
	list-style: none;
	font-family: 'SourceSansProRegular';
	margin-left: -40px;	 
}
#header .header-menu .navbar .navbar-nav .menu-item-43::after{
	position:absolute;
    content:'';
    right: -12px;
    top:9px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 8px solid white;
}
#header .header-menu .navbar .navbar-nav .menu-item:hover .sub-menu{
	position: absolute;
}
#header .header-menu .navbar .navbar-nav .menu-item:hover .sub-menu .menu-item{
	display: block;
	height: auto;
	width: 250px;
	padding: 5px;
	margin-top: 10px;
	margin-right: -30px;
}
#header .header-menu .navbar .navbar-nav .menu-item a{
	color: white;
	padding-left: 42px;
	text-decoration: none;
	font-size: 18px;
	font-family: 'SourceSansProRegular';	
}
#header .header-menu .navbar .navbar-nav .menu-item a:hover{
	opacity: 0.9;
}

/* ................................banner................................  */
.banner-top{ position: relative; } 
.banner-top:before{ position: absolute; left: 0; top: 0; background: rgba(0,0,0,0.5); content: ""; width: 100%; height: 100%; }
.banner_text .bg_black,
.banner_text h1.page_title{ position: relative; }
.banner_text .bg_black:after,
.banner_text h1.page_title:after{ content: ""; position: absolute; left: 0; width: 100px; left: -120px; height: 35px; background:#fff; top:-35px; }
.banner_text .bg_black:after{ top: unset; bottom: -35px; }
.banner_text h1.page_title::before {
	content: "";
	position: absolute;
	left: 0;
	width: 38px;
	left: -120px;
	height: 100%;
	background: #fff;
	height: calc(100% + 70px);
	top: -35px;
}
.banner-top img
{
   background-size: cover;
   background-repeat: no-repeat;
   width: 100%;
}
.top_header
{
   position: absolute;
   padding-top: 20px;
   z-index: 1;
   width: 100%;
}
#menu-main-menu
{
   padding-left: 280px;
}
.banner_text
{
   position: absolute;
   top: 180px;
   color: white;
   width: 100%;
   padding-left: 0px;
   font-family: 'Ubuntu-Bold';
   font-size: 50px;
}
.banner_text .bg_black{ max-width: 670px; margin-left: 120px;}
.top-six-box{ margin-top: 50px;}
.top_list{ min-height: 90px;}

.banner_text .page_title span
{
   font-size: 50px;
   font-family: 'Ubuntu-Bold';

}

/* ....................end banner .....................  */


/* ...................top six box....................  */
.top-six-box .text-center span{
	font-size: 25px;
	font-family: 'Ubuntu-Bold';
	text-align: center;
}
.top-six-box .text-center  .text-subtitle{
	font-size: 16px;
	font-family: 'Ubuntu-Medium';
	text-align: center;
	width: 60px;	
}

/* ......................end top six box..............  */

/* .....................home more info...................  */
.business-home h2{
	font-size: 45px;
	font-family: 'Ubuntu-Bold';
	width: 515px;
	margin-top: 53px;
}
 .business-home .expertise-text{
	font-size: 16px;
	font-family: 'SourceSansProRegular';
	margin-top: 35px;
}
.business-home .wp-block-image img{
	height: auto;
	width: 205px;
	padding-top: 50px;
}
.business-home .wp-block-image-info-about img{
	height: auto;
	width: 560px;
	padding-top: 62px;
}
/* ...............end home more info.................  */

/* ........................home achieved........................  */

.detail-wrap .entry-content .achieved{
	font-size: 45px;
	padding-top: 3px;
	font-family: 'Ubuntu-Bold';
}
.detail-wrap .entry-content .impacted{
	font-size: 28px;
	font-family: 'Ubuntu-Bold';
	color: #E97E71;
	margin-top: 30px;
}
.detail-wrap .entry-content .impacted-text{
	font-size: 16px;
	font-family: 'Ubuntu-Bold';
	color: #E97E71;
	margin-top: 4px;
}
.detail-wrap .entry-content .tons{
	font-size: 28px;
	font-family: 'Ubuntu-Bold';
	color: #479F98;
	margin-top: 30px;
}
.detail-wrap .entry-content .tons-text{
	font-size: 16px;
	font-family: 'Ubuntu-Bold';
	color: #479F98;
	margin-top: 4px;
}
.detail-wrap .entry-content .million{
	font-size: 28px;
	margin-top: 30px;
	font-family: 'Ubuntu-Bold';
	color: #FFB840;
}
.detail-wrap .entry-content .million-text{
	font-size: 16px;
	font-family: 'Ubuntu-Bold';
	color: #FFB840;
	margin-top: 4px;
}
/* ..........................end home achieved........................  */

/* .........................home work together..........................  */
.work-together-image{
	display: flex;justify-content: center;
}
.detail-wrap .entry-content .work-together-home{
	background-color: black;
	font-size: 45px;
	font-family: 'Ubuntu-Bold';
	color: white;
	padding-top: 60px;
	margin-top: -3px;	
}
.detail-wrap .entry-content .work-together-image{
	background-color: black;
	margin-top: -10px;
	padding: 40px;
}
.detail-wrap .entry-content .work-together-image img{
	height: auto;
	width: 205px;
}
/* ........................... end home work together.................  */


/* .................home service.....................  */
.detail-wrap .entry-content .service-tittle-home{
		margin-top: 50px;
}

.detail-wrap .entry-content .service-box{
	padding-top: 42px;
	text-align: center;
}
.detail-wrap .entry-content .service-box  .service-img img{
	height: auto;
	width: 99px;
}
.detail-wrap .entry-content .service-box .service-title  a{
	text-decoration: none;
}
.detail-wrap .entry-content .service-box .service-title h4{
	font-size: 19px;
	font-family: 'Montserrat-Medium';
	padding-top: 20px;
	color: black;
	text-decoration: none;
}
.detail-wrap .entry-content .service-box .service-text{
	height: 145px;
}
.detail-wrap .entry-content .service-box .service-text p{
	font-size: 16px;
	font-family: 'Montserrat-Light';
	padding-top: 1px;
	color: black;
	/* font-weight: 600; */
}
.detail-wrap .entry-content .service-box .see_more_btn .vc_general {
	font-size: 16px;
	font-family: 'Montserrat-Bold';
	color: black;
	text-decoration: none;
}
/* ..............................end home service.......................  */

/* ...........................case study...............................  */
.detail-wrap .entry-content .study-text-home{
	margin-top: 60px;
	padding-bottom: 40px;
}
.detail-wrap .entry-content .case_box
{
	position: relative;
	width: 380px;
}
.detail-wrap .entry-content .case_box .casestudy-img img
{
	display: block;
	width: 380px;
}
.detail-wrap .entry-content .case_box .case-title a{
	color: white;
	text-decoration: none;
}
.detail-wrap .entry-content .case_box .case-title
{
	color: white;
	font-size: 25px;
	position: absolute;
	top: 75%;
	left: 30%;
	font-family: 'Ubuntu-Bold';
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}
.detail-wrap .entry-content .case_box  .case-text
{
	color: white;
	font-size: 16px;
	position: absolute;
	font-family: 'SourceSansProRegular';
	top: 88%;
	left: 50%;
	text-align: center;
	width: 300px;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.detail-wrap .entry-content .case_box .case-text-overlay{
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	overflow: hidden;
	width: 100%;
	height:0;
	transition: .5s ease;
}
.detail-wrap .entry-content .case_box:hover .case-text-overlay{
	height: 100%;
	bottom: 0;
}
/* ....................end case study......................  */

/* ...................home testimonial.......................  */
.detail-wrap .entry-content .people-section{
	background-color: #E97E71;
	color: white;
	height: 100%;
	margin-top: 3%;
}
.detail-wrap .entry-content .people-section .people-title-home{
	background-color: #E97E71;
	color: white;
	height: 451px;
	width: 90%;
	text-align: left;
	font-size: 45px;
	font-family: 'Ubuntu-Bold';
	padding-left: 200px;
	
}
.detail-wrap .entry-content .people_box{
	max-width: 150px;
	padding-top: 120px;
	/* padding-left: 5px; */
}

.regular .slick-prev,.slick-next{
	display: none !important;
}
.detail-wrap .entry-content .people_box .people-text {
	font-size: 16px;
	height: 150px;
	width: 200px;
	font-family: 'SourceSansPro-Italic';
}
.detail-wrap .entry-content .people_box .people-title{
	font-size: 16px;
	font-family: 'SourceSansPro-Bold';
	padding-top: 15px;
}
.detail-wrap .entry-content .people_box .people-subtitle{
	font-size: 16px;
	font-family: 'SourceSansProRegular';
	text-align: left;
	color: #8B8B8B;
	width: 200px;
	/* margin-left: 40px; */
}
.detail-wrap .entry-content .people_box .people-img img{
	height: auto;
	width: 100px;
	padding-top: 14px;
}
/* .............................end testimonial..............................  */


/* .................home perfect-section.............................  */
.detail-wrap .entry-content .home-perfect-section{
	margin-top: 6%;
	height: 480px;
	position: relative;
	background-color: #479F98;
	color: white;
}
.detail-wrap .entry-content .home-perfect-title{
	font-size: 45px;
	font-family: 'Ubuntu-Bold';
	text-align: left;
	padding-left: 35%;
	padding-top: 90px;
}
.detail-wrap .entry-content .home-perfect-section::before{
	content: "";
    position: absolute;
    /* left: 0; */
    width: 35px;
    left: 145px;
    background: #fff;
    height: calc(35% + 40px);
    top: 125px;
}
.detail-wrap .entry-content .home-perfect-title::after{
	content: "";
    position: absolute;
    /* left: 0; */
    width: 70px;
    left: 145px;
    height: 35px;
    background: #fff;
    top: 125px;
}
.detail-wrap .entry-content .home-perfect-section .wp-block-column::after{
    content: "";
    position: absolute;
    /* left: 0; */
    width: 70px;
    left: 145px;
    height: 35px;
    background: #fff;
    top: 305px;
}
.detail-wrap .entry-content .home-perfect-text{
	font-size: 30px;
	font-family: 'Ubuntu-Light';
	padding-top: 30px;
	position: relative;
	line-height: 48px;
	left: 20%;
}
.detail-wrap .entry-content .home-perfect-text::after{
	content: "";
	width: 40%;
	height: 3px;
	/* color: grey; */
	background-color: white;
	position: absolute;
	top: 120%;
	left: 0;
}
/* .................................... end home perfect-section .......................  */
/* .............footer..............  */
.site-footer .footer_top .footer-left-side
 {
    background-color: black;
	color: white;
	padding: 90px;
	margin-left: -15px;
}
.site-footer .footer_top .footer-left-side 
{
    background-color: black;
	color: white;
	padding: 90px;
	margin-left: -15px;
}
.footer-left-side .title-text-one
{
	font-size:45px;
	margin-left: 51px;
	font-family: 'Ubuntu-Bold';
	width: 50%;
	padding-top: 8px;
}
.footer-left-side .title-text-five
{
	font-size: 16px;
	font-family: 'SourceSansProRegular';
	margin-left: 51px;
	padding-top: 18px;
	max-width: 65%;
}
.footer-left-side .title-text-four
{
	font-size: 14px;
	font-family: 'SourceSansProRegular';
	margin-left: 51px;
	padding-top: 73px;
}
.footer-right-side
{
	padding-top: 72px;
	padding-left: 60px;
}
.footer-right-side .title-text-three
{
	font-size: 19px;
	font-family: 'Ubuntu-Medium';
	font-weight: bold;
}
.footer-right-side .title-text-four
{
	font-size: 16px;
	font-family: 'SourceSansProRegular';
	color: #808080;
}
.footer-right-side .title-text-four-number
{
	font-size: 16px;
	font-family: 'SourceSansProRegular';
	padding-top: 25px;
	width: 130px;
	color: #808080;	
}
.footer-right-side .title-text-four-number-two
{
	font-size: 16px;
	font-family: 'SourceSansProRegular';
	padding-top: 25px;
	width: 93px;	
	color: #808080;
	
}
.footer-right-side .title-text-four-email
{
	font-size: 16px;
	font-family: 'SourceSansProRegular';
	padding-top: 25px;
	width: 130px;
	color:#6281A1;
}
hr
{
	width: 72%;
	margin-left: 77px;
	margin-top: 34px;
	border: 1px solid #808080;
}
.follow-social
{
	font-size: 19px;
	font-family: 'Ubuntu-Medium';
	margin-top: 43px;
	margin-left: 83px;
}
.footer-icon 
{
	padding-left: 72px;
	padding-top: 14px;
}
.footer-icon img
{
	height: 26px;
	margin-left: 5px;
	
}
/* ....................end footer................  */

